@page "/AboutUs"

@inject ISearchProduct searchProduct
@inject ILocalStorageService localStore
@inject NavigationManager NavManager
@inject IProductService ProductService
@inject AppState appState
@inject IJSRuntime JSRuntime

<div class="container topMargin mb-4">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><NavLink href="/" class="bread"><i class="fas fa-home"></i> Home</NavLink></li>
                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="container" style="width:100%;height:auto;padding:10px;margin:20px;">
        <h1 class="headingNew">About <span class="redheading" style="color: #8B1E29;">Us</span></h1>
        <hr style="width:100%;height:8px;color:black" /><br/>

        <h2 style="text-align:left;">Overview</h2><br/>
        <p>
            Sri Lanka has a growing number of enterprises within the food sector catering a variety of produce to their surrounding areas. Many producers hope to scale up their
            operations but lack the access to market that will enable them to acquire an adequate reach to do so. Wanija.lk is an initiative aimed to provide an online market for
            SMEs across the country that will provide them with the visibility that is necessary to access a larger market. The initiative will aim to provide an individual web page
            for each SBN member that will enable them to showcase their company and product range.
        </p>
        <br/>
        <h5 style="text-align:left">Objectives</h5><br />
        <ul style="font-family: Montserrat, sans-serif; font-size: 14px;">
            <li>To create a marketplace for Food Sector SMEs who are without access to larger markets</li>
            <li>Advocate SBN commitments through an online forum</li>
        </ul>
        <br /><br />

        <hr style="width:100%;height:8px;color:black" />

        <br /><br />

        <center>
            
            <h2>Collaborative Partnership</h2><br/>

            <h5>AN INITIATIVE BY</h5>

            <h6>Federation of Chambers of Commerce and Industry of Sri Lanka</h6>

            <br /><br/><img src="images/FCCISL Logo.jpg" style="width:45%;height:250px;" /><br /><br /><br/><br/>

            <hr style="width:70%;height:8px;color:black" /><br /><br />

            <h5>A PROJECT FUNDED BY</h5>

            <h6>Scaling Up Nutrition Business Network</h6>

            <br /><br/><img src="images/SBN HR Logo.png" style="width:80%;height:150px;" /><br /><br /><br/>

            <hr style="width:100%;height:8px;color:black" /><br /><br />

        </center>



        <h2 style="text-align:left">Introduction to FCCISL</h2>
        <p>
            FCCISL is the rallying point for free enterprises in Sri Lanka. It has empowered Sri Lankan businesses, in the changing times,
            to show up their competitiveness and enhanced their national and global reach.
            With a nationwide membership of over 63 chambers of commerce and business associations,
            FCCISL espouses the shared vision of Sri Lankan businesses and speaks directly and indirectly
            to over 25,000 business units. It has an expanding membership of enterprises drawn from large, medium, small
            and tiny segments of manufacturing, distributive trade and services. FCCISL maintains the lead as the proactive
            business solution provider through research, interactions with the government and through global networking.
            Set up in 1973, FCCISL is the largest and most representative apex business organization of Sri Lankan business. It is also
            the most widely spread business organization with member bodies from all districts and provinces of Sri Lanka.
            As an umbrella organization of the private sector, the FCCISL has been playing a key role in promoting business and industry in the country
            by providing the member bodies with a wide spectrum of services ranging from advisory, consultative, promotional, information sharing and representative services.
            The FCCISL’s commitment, drive and mission continue in the ever-changing economic landscape of Sri lanka, chasing always a newer agenda.
            In the knowledge-driven globalized economy, FCCISL stands for quality, competitiveness, transparency, accountability and business – government-civil
            society partnership to spread ethics-based business practices and to enhance the quality of life of the common people.
        </p>
    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeAsync<object>("NavBarFixed");
            StateHasChanged();
        }
    }

}
